
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//*colors*//
$gradient-colors: (
	light: #a3acdd,
	normal: #7b82b7,
	dark: #2c163e,
);
$gradient: right, map-get($gradient-colors, light) 0%, map-get($gradient-colors, dark) 48%, map-get($gradient-colors, dark) 52%, map-get($gradient-colors, normal) 100%;
$card: #f3f4f8;
$dark-font: #473660;
$light-font: #eae9ed;
$white: #fff;
$gray: #adabb3;
$pink: #ed5e74;

/**fonts**/
$h1: 2.5rem;
$normal-size: 1.5rem;
$small: 0.9rem;

@mixin radius-top {
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
}